@import "tailwindcss";

body {
  background-color: #000000;
  font-family: sans-serif;
  opacity: 0;
  animation: fade 2.2s forwards;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
