@import "tailwindcss";

.ct-color {
  color: oklch(60.9% 0 0);
}

body {
  /* font-family: "ui-monospace", "SFMono-Regular", "SF Mono", Consolas, "Liberation Mono", Menlo, monospace; */
  opacity: 0;
  animation: fade 3s forwards;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
