@import "tailwindcss";

:root {
  --my-color: oklch(54.517% 0.00006 271.152);
  --my-background: rgb(14, 15, 20);
}

.ct-color {
  color: oklch(60.9% 0 0);
}

.cp-color {
  color: rgb(30, 30, 30);
}

.aurora-link:hover {
  color: oklch(70.806% 0.16183 62.596);
  text-shadow: 0 0 10px oklch(70.806% 0.16183 62.596);
}

@theme {
  --color-off-white: rgb(253, 253, 252);
  --color-dark: rgb(17, 17, 17); 
}

body {
  opacity: 0;
  animation: fade 3s forwards;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*
.autoRotate {
  animation: AutoRotateAnimation;
  animation-timeline: view();
}

@keyframes AutoRotateAnimation {
  from {
    transform: rotate(
    0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
  */
